.header {
  padding: 21px 0 15px;
  background: linear-gradient(180deg, #7a7979 0%, #d4d4d4 100%);
  border: 4px solid rgb(58, 58, 58);
}
.header_content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0 auto 15px;
  padding: 0;
  column-gap:160px;
  justify-content: center;
  flex-wrap: nowrap;
}


.header__link {
  display: flex;
  align-items: center;
}

.header__text {
  flex-wrap:nowrap;
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 27px;
  line-height: 20px;
  font-weight: 500;
}

